<template>
	<div class="block w-80 rounded-lg bg-white shadow-lg">
		<a href="#!">
			<img class="rounded-t-lg" :src="coverUrl" alt="" loading="lazy" />
		</a>
		<div class="p-6">
			<slot name="actions"></slot>
			<h5 class="mb-2">{{ title }}</h5>
		</div>
	</div>
</template>

<script setup lang="ts">
	defineProps<{
		title: string;
		coverUrl: string;
	}>();
</script>
