<script setup lang="ts">
	import { useHead } from "@unhead/vue";
	useHead({
		title: "404. Not Found",
	});
</script>
<script lang="ts">
	export default {
		name: "404Page",
	};
</script>
<template>
	<h1 class="flex flex-col text-center font-extrabold text-blue-500">
		<span class="text-7xl">404.</span>
		<span class="mt-5 text-5xl">{{ $t("pages.not-found") }}</span>
	</h1>
</template>
