<template>
	<div class="flex h-screen w-full flex-wrap content-center justify-center">
		<div class="h-fit w-64" data-testid="forgot-password-page">
			<p>{{ $t("pages.forgot-password.explain-text") }}</p>
			<form @submit="onSubmit">
				<div class="mb-6">
					<input
						v-model="emailValue"
						name="email"
						type="text"
						data-testid="forgot-password-input-email"
						class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-4 py-2 text-xl font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
						placeholder="Email"
					/>
					<span> {{ emailErrorMessage }}</span>
				</div>
				<button
					type="submit"
					:disabled="resetPasswordRequestStore.isLoading || !!emailErrorMessage"
					data-testid="forgot-password-button"
					class="inline-block w-full rounded bg-blue-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg disabled:bg-slate-500"
					data-mdb-ripple="true"
					data-mdb-ripple-color="light"
				>
					{{ $t("pages.forgot-password.button") }}
				</button>
			</form>
		</div>
	</div>
</template>
<script setup lang="ts">
	import { useHead } from "@unhead/vue";
	import { useField, useForm } from "vee-validate";
	import { usepasswordResetEmailRequest } from "@/stores/users/forgot-password";
	import * as yup from "yup";
	useHead({
		title: "WebLibros - forgot password",
	});

	const resetPasswordRequestStore = usepasswordResetEmailRequest();
	const { handleSubmit } = useForm();
	const { errorMessage: emailErrorMessage, value: emailValue } = useField(
		"email",
		yup.string().required().email()
	);
	const onSubmit = handleSubmit(async values => {
		await resetPasswordRequestStore.requestPasswordResetEmail(values.email);
	});
</script>
