<script setup lang="ts">
	import { onMounted } from "vue";
	import { useHead } from "@unhead/vue";
	import { useMyBooksStore } from "@/stores/books/my-books";
	import dotLoader from "@/components/dotLoader.vue";
	import bookCard from "@/components/bookCard.vue";
	import { urlBackend } from "@/composables/urls";

	definePageMeta({
		middleware: ["is-authenticated"],
	});
	useHead({
		title: "WebLibros",
	});

	const myBooksStore = useMyBooksStore();

	onMounted(async () => {
		await myBooksStore.requestMyBooks();
	});
</script>
<script lang="ts">
	export default {
		name: "IndexPage",
	};
</script>

<template>
	<div class="grid min-h-[80vh] place-items-center">
		<p data-testid="home">Home page</p>
		<NuxtLink
			to="/login"
			class="mt-5 text-center hover:text-gray-200 hover:underline dark:hover:text-gray-500"
			>{{ $t("pages.login") }}
		</NuxtLink>
		<NuxtLink
			to="/upload-page"
			class="mt-5 text-center hover:text-gray-200 hover:underline dark:hover:text-gray-500"
			>{{ $t("pages.upload-page") }}</NuxtLink
		>
		<br />
		<p>Books</p>
		<div class="place-items-center">
			<template v-if="myBooksStore.isLoading">
				<dotLoader />
			</template>

			<template v-else>
				<template v-for="book in myBooksStore.getMyBooks" :key="book.uuid">
					<bookCard
						:title="book.title"
						:cover-url="book.coverUrl"
						data-testid="bookElement"
					>
						<template v-if="book.actions" #actions>
							<template v-for="action in book.actions" :key="action.name">
								<a
									:href="urlBackend + action.link"
									:data-testid="`actionElement-${action.name}`"
									class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300"
									download
									>{{ action.display_text }}</a
								>
							</template>
						</template>
					</bookCard>
				</template>
			</template>
		</div>
	</div>
</template>
