<template>
	<div class="flex h-screen w-full flex-wrap content-center justify-center">
		<form class="h-fit w-64" @submit="onSubmit">
			<p data-testid="login-title" class="text-lg">login</p>
			<div class="mb-6">
				<input
					v-model="emailValue"
					name="email"
					type="text"
					data-testid="login-input-email"
					class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-4 py-2 text-xl font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					placeholder="Email"
				/>
				<span> {{ emailErrorMessage }}</span>
			</div>

			<div class="mb-6">
				<input
					v-model="passwordValue"
					type="password"
					name="password"
					data-testid="login-input-password"
					class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-4 py-2 text-xl font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					placeholder="Password"
				/>
				<span> {{ passwordErrorMessage }}</span>
			</div>
			<div class="mb-6 flex items-center justify-between">
				<NuxtLink
					data-testid="route-forgot-password"
					:to="{ name: 'forgot-password' }"
					class="text-blue-600 transition duration-200 ease-in-out hover:text-blue-700 focus:text-blue-700 active:text-blue-800"
					>Forgot password?
				</NuxtLink>
				<NuxtLink
					data-testid="route-signup"
					:to="{ name: 'signup' }"
					class="text-blue-600 transition duration-200 ease-in-out hover:text-blue-700 focus:text-blue-700 active:text-blue-800"
					>Sign Up
				</NuxtLink>
			</div>

			<button
				type="submit"
				:disabled="disableSubmit"
				class="inline-block w-full rounded bg-blue-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg disabled:bg-slate-500"
				data-testid="login-submit-form"
				data-mdb-ripple="true"
				data-mdb-ripple-color="light"
			>
				Sign in
			</button>
			<div v-if="jwtStore.getErrorMessage" data-testid="login-error-message">
				{{ jwtStore.getErrorMessage }}
			</div>
		</form>
	</div>
</template>

<script lang="ts" setup>
	import { computed } from "vue";
	import { useField, useForm } from "vee-validate";
	import * as yup from "yup";
	import { useJwtStore } from "@/stores/jwt";
	import type { LoginForm } from "@/stores/jwt/types.d.js";

	const { handleSubmit } = useForm();
	const jwtStore = useJwtStore();

	const { errorMessage: passwordErrorMessage, value: passwordValue } = useField(
		"password",
		yup.string().required().min(8)
	);

	const { errorMessage: emailErrorMessage, value: emailValue } = useField(
		"email",
		yup.string().required().email()
	);

	const onSubmit = handleSubmit(async values => {
		const form: LoginForm = {
			username: values.email,
			password: values.password,
		};
		await jwtStore.requestToken(form);

		if (jwtStore.isActive && !jwtStore.getErrorMessage) {
			await navigateTo("/user/me");
		} else if (!jwtStore.getErrorMessage) {
			await navigateTo("/user/validate-email");
		}
	});

	const disableSubmit = computed(() => {
		if (!passwordValue.value) return true;
		if (!emailValue.value) return true;
		if (jwtStore.isLoading) return true;
		if (passwordErrorMessage.value) return true;
		if (emailErrorMessage.value) return true;
		return false;
	});
</script>

<script lang="ts">
	export default {
		name: "LoginPage",
	};
</script>
