<template>
	<div class="flex h-screen w-full flex-wrap content-center justify-center">
		<p>{{ $t("pages.logout.text") }}</p>
	</div>
</template>

<script lang="ts" setup>
	import { onMounted } from "vue";
	import { useJwtStore } from "@/stores/jwt";
	import { useHead } from "@unhead/vue";
	useHead({
		title: "WebLibros - logout",
	});

	const jwtStore = useJwtStore();
	onMounted(async () => {
		jwtStore.deleteTokens();
	});
</script>

<script lang="ts">
	export default {
		name: "LogoutPage",
	};
</script>
