<script setup lang="ts">
	import { useHead } from "@unhead/vue";
	useHead({
		title: "Other Pages",
	});
</script>

<template>
	<div>
		<p>{{ $t("pages.other.desc") }}</p>
		<NuxtLink
			to="/"
			class="mt-5 hover:text-gray-200 hover:underline dark:hover:text-gray-500"
			>{{ $t("pages.home") }}
		</NuxtLink>
	</div>
</template>

<style scoped></style>
