<template>
	<div class="flex h-screen w-full flex-wrap content-center justify-center">
		<div class="h-fit w-64" data-testid="reset-password-page">
			<p>{{ $t("pages.reset-password.title") }}</p>

			<form @submit="onSubmit">
				<div>
					<label for="password">{{
						$t("pages.reset-password.label-password")
					}}</label>
					<input
						id="password"
						v-model="passwordValue"
						name="password"
						type="password"
						data-testid="reset-password-input-password"
						class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-4 py-2 text-xl font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					/>
					<span> {{ passwordErrorMessage }}</span>
				</div>

				<div>
					<label for="passwordConfirmation">{{
						$t("pages.reset-password.label-confirm-password")
					}}</label>
					<input
						id="passwordConfirmation"
						v-model="passwordConfirmationValue"
						name="passwordConfirmation"
						type="password"
						data-testid="reset-password-input-confirm-password"
						class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-4 py-2 text-xl font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					/>
					<span> {{ passwordConfirmationErrorMessage }}</span>
				</div>

				<button
					class="inline-block w-full rounded bg-blue-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg disabled:bg-slate-500"
					type="submit"
					data-testid="reset-password-button"
					:disabled="disableSubmit"
				>
					{{ $t("pages.reset-password.submit-button") }}
				</button>
			</form>
		</div>
	</div>
</template>
<script lang="ts" setup>
	import { onMounted, computed } from "vue";
	import { useHead } from "@unhead/vue";
	import { useField, useForm } from "vee-validate";
	import { usePasswordResetByTokenStore } from "@/stores/users/reset-password";
	import * as yup from "yup";
	useHead({
		title: "WebLibros - reset password",
	});

	const route = useRoute();

	const passwordResetByTokenStore = usePasswordResetByTokenStore();
	const schema = yup.object().shape({
		password: yup.string().min(8).required(),
		passwordConfirmation: yup
			.string()
			.required()
			.oneOf([yup.ref("password")], "Passwords do not match"),
	});
	const { handleSubmit } = useForm({ validationSchema: schema });
	const { errorMessage: passwordErrorMessage, value: passwordValue } =
		useField("password");
	const {
		errorMessage: passwordConfirmationErrorMessage,
		value: passwordConfirmationValue,
	} = useField("passwordConfirmation");

	const onSubmit = handleSubmit(async values => {
		await passwordResetByTokenStore.resetPasswordByToken({
			password: values.password,
			reset_token: route.query.token,
		});

		if (passwordResetByTokenStore.isValidResponse) {
			await navigateTo({ name: "login" });
		}
	});
	const disableSubmit = computed(() => {
		if (passwordValue.value !== passwordConfirmationValue.value) return true;
		if (!passwordValue.value && !passwordConfirmationValue.value) return true;
		if (passwordResetByTokenStore.isLoading) return true;
		if (passwordErrorMessage.value) return true;
		if (passwordConfirmationErrorMessage.value) return true;
		return false;
	});
	onMounted(async () => {
		if (route.query.token === undefined) {
			await navigateTo({ name: "login" });
		}
	});
</script>
