<template>
	<p>Upload Page</p>
	<form @submit="onSubmit">
		<label for="ebook-upload">{{ $t("action.bookUpload.formLabel") }}</label>

		<input
			id="ebook-upload"
			ref="ebookUploadRef"
			type="file"
			name="ebook-upload"
			accept="application/epub+zip"
			data-testid="upload-input-file"
		/>
		<div>
			<button type="submit" data-testid="upload-submit-form">
				{{ $t("action.bookUpload.submitButtonText") }}
			</button>
		</div>
	</form>
	<template
		v-for="(errorMessage, index) in uploadEbookStore.errorMessages"
		:key="index"
	>
		<p>{{ errorMessage }}</p>
	</template>
</template>

<script setup lang="ts">
	import { ref } from "vue";
	import { useForm } from "vee-validate";
	import { useUploadEbookStore } from "@/stores/upload";
	import type { EbookUploadForm } from "@/stores/upload/types.d.js";

	definePageMeta({
		middleware: ["is-authenticated"],
	});
	const { handleSubmit } = useForm();
	const uploadEbookStore = useUploadEbookStore();

	const ebookUploadRef = ref<HTMLInputElement | null>(null);

	const onSubmit = handleSubmit(async () => {
		await uploadEbookStore.clearErrorMessages();
		const files = ebookUploadRef.value ? ebookUploadRef.value.files : null;
		if (!files) {
			await uploadEbookStore.appendErrorMessage(
				t("action.bookUpload.errorMessage.noFileSelected")
			);
		} else if (files?.length !== 1) {
			await uploadEbookStore.appendErrorMessage(
				t("action.bookUpload.errorMessage.onlyOneFile")
			);
		} else {
			const form: EbookUploadForm = {
				file: files[0],
			};
			await uploadEbookStore.uploadEbook(form);
		}
	});
</script>
