<template>
	<div class="flex h-screen w-full flex-wrap content-center justify-center">
		<div class="h-fit w-64" data-testid="user-activate-page">
			<p>{{ $t("pages.activate-user.title") }}</p>

			<div v-if="activateUserStore.isLoading">
				<p>{{ $t("pages.activate-user.loading") }}</p>
			</div>
		</div>
	</div>
</template>
<script lang="ts" setup>
	import { onMounted } from "vue";
	import { useHead } from "@unhead/vue";
	import { useActivateUserStore } from "@/stores/users/activate-user";
	import { useJwtStore } from "@/stores/jwt";
	useHead({
		title: "WebLibros - activate user",
	});

	const route = useRoute();

	const activateUserStore = useActivateUserStore();
	const jwtStore = useJwtStore();

	const activateUser = async (token: string) => {
		await activateUserStore.activateUserRequest(token);

		if (activateUserStore.isValidResponse) {
			if (jwtStore.isAuth) {
				await jwtStore.refreshTokens();
			}
			await navigateTo("/");
		}
	};
	onMounted(async () => {
		if (route.query.token === undefined || route.query.token === null) {
			await navigateTo("/login");
		} else {
			await activateUser(route.query.token?.toString());
		}
	});
</script>

<script lang="ts">
	export default {
		name: "ActivateUserPage",
	};
</script>
