<template>
	<div>
		<p>user page</p>
		<div v-if="userStore.isLoading">loading</div>
		<div v-if="!userStore.isLoading" data-testid="user-email">
			{{ userStore.getMyEmail }}
		</div>
	</div>
</template>

<script lang="ts" setup>
	import { useUserStore } from "@/stores/users";
	import { onMounted } from "vue";
	definePageMeta({
		middleware: ["is-authenticated"],
	});

	const userStore = useUserStore();

	onMounted(async () => {
		await userStore.requestUserMe();
	});
</script>

<script lang="ts">
	export default {
		name: "UserMePage",
	};
</script>
