<template>
	<div>
		<p>remove account</p>

		<button
			data-testid="remove-account-button"
			:disabled="loading"
			@click="removeAccount"
		>
			click to remove account
		</button>
	</div>
</template>

<script lang="ts" setup>
	import axiosApiV1 from "@/composables/axios";
	import { UserUrls } from "@/stores/users/types.d.js";
	import { useJwtStore } from "@/stores/jwt";

	definePageMeta({
		middleware: ["is-authenticated"],
	});

	const jwtStore = useJwtStore();

	const loading = ref(false);
	const removeAccount = async () => {
		loading.value = true;
		await axiosApiV1.delete(UserUrls.userMe).then(async () => {
			jwtStore.deleteTokens();
			loading.value = false;
			await navigateTo("/");
		});
		loading.value = false;
	};
</script>

<script lang="ts">
	export default {
		name: "UserRemoveAccountPage",
	};
</script>
