<template>
	<div class="flex h-screen w-full flex-wrap content-center justify-center">
		<div class="h-fit w-64">
			<template v-if="validateEmailStore.isValidResponse">
				<p>{{ $t("pages.validate-email.succes-response") }}</p>
			</template>
			<template v-else>
				<p>{{ $t("pages.validate-email.intro-title") }}</p>
				<p>{{ $t("pages.validate-email.help-text") }}</p>
				<button
					data-testid="send-validation-button"
					class="inline-block w-full rounded bg-blue-600 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg disabled:bg-slate-500"
					@click="requestEmail"
				>
					{{ $t("pages.validate-email.button") }}
				</button>
			</template>
		</div>
	</div>
</template>
<script lang="ts" setup>
	import { useValidateEmailStore } from "@/stores/users/validate-email";
	import { useHead } from "@unhead/vue";
	definePageMeta({
		middleware: ["is-unvalidated"],
	});
	useHead({
		title: "WebLibros - validate email",
	});

	const validateEmailStore = useValidateEmailStore();

	const requestEmail = () => {
		validateEmailStore.validateEmailRequest();
	};
</script>
